
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

$primary: mat.$azure-palette;
$tertiary: mat.$blue-palette;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: $primary,
      tertiary: $tertiary,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  transition: background-color 150ms linear, color 150ms linear;
}

body.dark-mode {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: $primary,
      tertiary: $tertiary,
    ),
    typography: Roboto,
    density: 0,
  ));
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
